.App {
  text-align: center;
  background-image: url("https://previews.123rf.com/images/liligraphie/liligraphie1407/liligraphie140700069/29758481-old-postcards-letters-mails-and-open-journal-with-sample-text-my-travel-book-vintage-style-travel-ba.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-style: solid;
}

.App-header {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: brown;
}

.App-link {
  color: #61dafb;
}

.LocationList {
  color: green;
}